$primary: '#88AB8E';
$primary-light: '#AFC8AD';
$secondary: '#EEE7DA';
$secondary-light: '#F2F1EB';
$success: '#88AB8E';
$warning: '#F2CC8F';
$danger: '#E07A5F';

$dark-blue: '#292e5a';
$dark-blue-dark: '#160f29';

$xl: '1280px';
$lg: '1024px';
$md: '768px';
$sm: '640px';

/* tags */
$tag-news: '#FF9D00';
$tag-news-bg: '#F2CC8F60';
$tag-tutorial: '#4e52cc';
$tag-tutorial-bg: '#0f138060';
$tag-announcement: '#E07A5F';
$tag-announcement-bg: '#E07A5F60';

